
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #34495e;
    margin-bottom: 20px;
}


form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f7f9fc;
}
input.sub {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

input.sub:hover {
    background-color: #2980b9;
}

h3 {
    margin-top: 20px;
    font-size: 1rem;
    color: #7f8c8d;
}

a {
    color: #3498db;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
}

@media (max-width: 768px) {
    form {
        padding: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    input[type="text"], input[type="password"], input.sub {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    form {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input[type="text"], input[type="password"], input.sub {
        font-size: 0.8rem;
    }
}
